.lable-control {
    font-size: 16px;
    line-height: 1.5;
    color: #6F6F6F;
}

.lable-control[required]::after {
    content: " *";
    color: rgb(255, 0, 0);
}

.form-control {
    padding: 11px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #3F3F3F;
    border-radius: 4px;
    background: #fff;
    color: #1E1E1E;
    outline: outset 0 rgba(0, 0, 0, .3);
    transition: all .2s;
}

.form-control:focus-visible {
    border-color: rgb(74, 145, 226);
    outline: outset 3px rgba(74, 145, 226, .3);
}

.form-control::placeholder {
    color: rgba(30, 30, 30, .4);
}