.lesson08-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex: 1;
    padding: 50px;
    background: rgb(175, 232, 235);
    font-size: 36px;
}
